"map ESCAPE key to convenient method
inoremap jk 

"manual surround selection
vmap <leader>( c(pa)jk
vmap <leader>[ c[pa]jk
vmap <leader>{ c{pa}jk

"manual surround WORD
nnoremap <leader>) viWa)Bi(%
nnoremap <leader>} viWa}Bi{%
nnoremap <leader>] viWa]Bi[%

"manual surround word
nnoremap <leader>( viwa)bi(%
nnoremap <leader>{ viwa}bi{%
nnoremap <leader>[ viwa]bi[%

"select (charwise) the contents of the current line, excluding indentation.
nnoremap vv ^vg_

"convert to upper case
nnoremap <leader>U gUiw
inoremap <c-u> gUiwea

"do not jump to the next match
nnoremap * *<c-o>

"yank to end of line
noremap Y y$

set relativenumber

"yank visual selection to system clipboard
vnoremap <F11> "+y

"paste from the system clipboard
nnoremap <F12> "+p

set hlsearch
set incsearch

"shift lines or selection in normal, visual and insert mode (insert mode only
"appends at the end of line, visual has to be invoked with cursor at the
"bottom of selected region)
nnoremap <A-j> :m.+1<CR>
nnoremap <A-k> :m.-2<CR>
inoremap <A-j> <esc>:m.+1<CR>A
inoremap <A-k> <esc>:m.-2<CR>A
vnoremap <A-j> :m.+1<cr>`[v`]
vnoremap <A-k> o:m.-2<cr>`[v`]

"convert to upper case
nnoremap <leader>U gUiw
inoremap <c-u> gUiwea

"reselect recently pasted area
nnoremap <leader>v `[v`]

"easy PageUp/Down screen scrolling
noremap <PageUp> 3
noremap <PageDown> 3
